@import "https://fonts.googleapis.com/css?family=PT+Mono";
body {font-family: "PT Mono", sans-serif;
  padding: 48px;
}
::-webkit-scrollbar {
  width: 1px;
}
#line {
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
  -webkit-animation: grow 1s forwards;
          animation: grow 1s forwards;
}.ai {
  position: absolute;
  width: 2%;
  right: 943px;
  opacity: 0;
  bottom: 437px;
  border-radius: 100%;
  transition: all 500ms ease;
}
.doc  {  color: green;
position: absolute;
left: 815px;opacity:0;
top: 40px;transition: all 500ms ease;}
.sec{    color: green;
  position: absolute;
  left: 1273px;opacity:0;
  top: 131px;transition: all 500ms ease;}
  .tra{color: green;
    position: absolute;
    left: 450px;opacity:0;
    top: 127px;transition: all 500ms ease;}
    .show{opacity:1}

.draw {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  fill: none;
  stroke: #ccc;
  stroke-width: 4;
  -webkit-animation: draw 3s 2s forwards, fill 1s 2.5s forwards;
          animation: draw 3s 2s forwards, fill 1s 2.5s forwards;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.page .frame {
  fill: #ccc;
  stroke: none;
}

.page .background {
  fill: white;
  stroke: none;
}

.page .background,
.page .frame,
.page rect {
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
  -webkit-animation: grow 1s 1s forwards;
          animation: grow 1s 1s forwards;
}

.page-center .content-group {
  -webkit-animation: contentScroll 8s 3.5s infinite;
          animation: contentScroll 8s 3.5s infinite;
}

.page-sidebar .content-group {
  -webkit-animation: contentScrollTwo 8s 4s infinite;
          animation: contentScrollTwo 8s 4s infinite;
}

.page-form .outline-container {
  fill: #ccc;
}

.page-form .field-content {
  -webkit-animation: draw 3s 2s forwards, fillTwo 1s 2.5s forwards;
          animation: draw 3s 2s forwards, fillTwo 1s 2.5s forwards;
}

.page-form .field {
  -webkit-animation: draw 3s 2s forwards, fill 1s 2.5s forwards, highlight 1s 3.5s;
          animation: draw 3s 2s forwards, fill 1s 2.5s forwards, highlight 1s 3.5s;
}

.page-form .field-two {
  -webkit-animation: draw 3s 2s forwards, fill 1s 2.5s forwards, highlight 1s 4.5s;
          animation: draw 3s 2s forwards, fill 1s 2.5s forwards, highlight 1s 4.5s;
}

.page-form .button-container .button {
  -webkit-animation: draw 3s 2s forwards, fill 1s 2.5s forwards, highlight 1s 5.5s;
          animation: draw 3s 2s forwards, fill 1s 2.5s forwards, highlight 1s 5.5s;
}

.page-form .check-mark {
  fill: #10B500;
  -webkit-animation: none;
          animation: none;
}

.page-slider .image-slider-group {
  -webkit-animation: sliderScroll 8s 3.5s infinite;
          animation: sliderScroll 8s 3.5s infinite;
}

.page-hero .images-container {
  -webkit-animation: heroImagesOne 6s 3.5s infinite;
          animation: heroImagesOne 6s 3.5s infinite;
}

.page-hero .images-container-two {
  -webkit-animation: heroImagesTwo 6s 3.5s infinite;
          animation: heroImagesTwo 6s 3.5s infinite;
}

@-webkit-keyframes grow {
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes grow {
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes draw {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes draw {
  100% {
    stroke-dashoffset: 0;
  }
}
@-webkit-keyframes fill {
  100% {
    fill: #ccc;
    stroke-width: 0;
  }
}
@keyframes fill {
  100% {
    fill: #ccc;
    stroke-width: 0;
  }
}
@-webkit-keyframes fillTwo {
  100% {
    fill: white;
    stroke-width: 0;
  }
}
@keyframes fillTwo {
  100% {
    fill: white;
    stroke-width: 0;
  }
}
@-webkit-keyframes contentScroll {
  50% {
    -webkit-transform: translateY(-165px);
            transform: translateY(-165px);
  }
}
@keyframes contentScroll {
  50% {
    -webkit-transform: translateY(-165px);
            transform: translateY(-165px);
  }
}
@-webkit-keyframes contentScrollTwo {
  50% {
    -webkit-transform: translateY(-140px);
            transform: translateY(-140px);
  }
}
@keyframes contentScrollTwo {
  50% {
    -webkit-transform: translateY(-140px);
            transform: translateY(-140px);
  }
}
@-webkit-keyframes highlight {
  50% {
    fill: #10B500;
  }
}
@keyframes highlight {
  50% {
    fill: #10B500;
  }
}
@-webkit-keyframes fadeIn {
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeOut {
  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes sliderScroll {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  20% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  25% {
    -webkit-transform: translateX(-13.99%);
            transform: translateX(-13.99%);
  }
  45% {
    -webkit-transform: translateX(-13.99%);
            transform: translateX(-13.99%);
  }
  50% {
    -webkit-transform: translateX(-27.95%);
            transform: translateX(-27.95%);
  }
  70% {
    -webkit-transform: translateX(-27.95%);
            transform: translateX(-27.95%);
  }
  75% {
    -webkit-transform: translateX(13.95%);
            transform: translateX(13.95%);
  }
  95% {
    -webkit-transform: translateX(13.95%);
            transform: translateX(13.95%);
  }
}
@keyframes sliderScroll {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  20% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  25% {
    -webkit-transform: translateX(-13.99%);
            transform: translateX(-13.99%);
  }
  45% {
    -webkit-transform: translateX(-13.99%);
            transform: translateX(-13.99%);
  }
  50% {
    -webkit-transform: translateX(-27.95%);
            transform: translateX(-27.95%);
  }
  70% {
    -webkit-transform: translateX(-27.95%);
            transform: translateX(-27.95%);
  }
  75% {
    -webkit-transform: translateX(13.95%);
            transform: translateX(13.95%);
  }
  95% {
    -webkit-transform: translateX(13.95%);
            transform: translateX(13.95%);
  }
}
@-webkit-keyframes heroImagesOne {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%, 50% {
    -webkit-transform: translateX(-459px);
            transform: translateX(-459px);
  }
  60%, 100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes heroImagesOne {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%, 50% {
    -webkit-transform: translateX(-459px);
            transform: translateX(-459px);
  }
  60%, 100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@-webkit-keyframes heroImagesTwo {
  0% {
    -webkit-transform: translateX(459px);
            transform: translateX(459px);
  }
  10%, 50% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  60%, 100% {
    -webkit-transform: translateX(459px);
            transform: translateX(459px);
  }
}
@keyframes heroImagesTwo {
  0% {
    -webkit-transform: translateX(459px);
            transform: translateX(459px);
  }
  10%, 50% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  60%, 100% {
    -webkit-transform: translateX(459px);
            transform: translateX(459px);
  }
}
#form-sent {
  opacity: 0;
  -webkit-transition: opacity 1000ms;
  transition: opacity 1000ms;
  -webkit-animation: fadeIn 1s 6.5s forwards, fadeOut 2s 10s forwards;
          animation: fadeIn 1s 6.5s forwards, fadeOut 2s 10s forwards;
}

.is-hidden {
  opacity: 0;
}
